html {
    height: fit-content;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: Open Sans;
    font-size: 15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.banner {
    width: 100%;
    height: 150px;
    background-image: url(https://cdn.pling.com/img/c/b/b/1/fde71ca72ef854432333eb8fad3ff1e15e35.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    overflow-x: hidden;
}

.banner.home {
    height: 300px;
}

.header {
    top: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    color: white;
}

.menu-bars {
    float: right;
    width: 80px;
    height: 80px;
}

.menu-bars i {
    font-size: 25px;
}

.menu {
    height: 100%;
    padding: 0px 20px 0px 20px;
    float: right;
}

.m-item {
    float: left;
    padding: 15px 20px 15px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo {
    float: left;
    height: 80px;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
}

.main {
    width: 100%;
    min-height: calc(100% - 500px);
    position: relative;
    z-index: 50;
    box-sizing: border-box;
    top: 150px;
    position: absolute;
    padding: 20px;
    min-height: 80%;
}

.main.home {
    top: 300px;
}

.block {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(224, 224, 224);
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}

.block-header {
    width: 100%;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    font-size: 18px;
}

.block-main {
    width: 100%;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
}

form {
    margin: 20px 0px 0px 0px;
    width: 100%;
}

label {
    font-size: 12px;
}

input, select, button, textarea {
    width: 100%;
    padding: 10px;
    background: none;
    border: 1px solid lightgrey;
    color: rgb(46, 46, 46);
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

textarea {
    height: 150px;
}

input[type="submit"], button {
    background: rgb(149, 31, 224);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: rgb(131, 40, 187);
}

.curve {
    width: 101%;
    height: calc(60px + 1%);
    position: absolute;
    bottom: -1%;
}

.overlay {
    position: fixed;
    background-color: black;
    z-index: 60;
    width: 100vw;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.side-menu {
    position: fixed;
    max-width: 100%;
    height: 100vh;
    z-index: 70;
    background-color: white;
    min-width: 50%;
    transition: left 0.3s ease;
}

.side-menu-header {
    width: 100%;
    height: 80px;
}

.cross {
    width: 80px;
    height: 80px;
    float: right;
}

.cross i {
    font-size: 25px;
}

.side-menu-main {
    width: 100%;
    height: calc(100% - 80px);
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}

.menu-item {
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
}

.houses {
    margin-top: 20px;
    width: 100%;
}

.houses a {
    text-decoration: none;
    color: black;
}

.houses:last-child {
    border-bottom: 1px solid lightgrey;
}

.house {
    width: 100%;
    height: fit-content;
    min-height: 80px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid lightgrey;
    cursor: pointer;
}

.house .picture {
    float: left;
    height: 60px;
    width: 60px;
    background-color: lightgrey;
    background-position: center;
    background-size: cover;
}

.house .text {
    margin-left: 80px;
    width: calc(100% - 80px);
}

.house-title {
    font-size: 18px;
}

.house-persons {
    float: right;
}

.house-persons i {
    font-size: 15px;
    color: #404040;
}

.house-main {
    margin-top: 5px;
    width: 100%;
}

.house-description {
    overflow-x: hidden;
    font-size: 12px;
}

.pf {
    height: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: white;
}

.pf i {
    color: black;
    font-size: 18px;
}

.accommodation-title {
    font-size: 30px;
    margin: 30px 0px 45px 0px;
}

.slideshow-container, .slideshow-container * {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    overflow: hidden;
}

.mySlides .img {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.review:last-child, .booking:last-child {
    border-bottom: 1px solid lightgrey;
}

.review, .booking {
    border-top: 1px solid lightgrey;
    padding: 10px 0px 10px 0px;
}

.review-title, .booking-title {
    margin-bottom: 5px;
}

.review-main, .booking-main {
    font-size: 12px;
}

.review-main i, .booking-main i {
    color: #404040;
}

@media only screen and (min-width: 900px) {
    .banner {
        height: 80px;
    }
    .main {
        top: 80px;
        width: 70%;
        margin-left: 15%;
    }
    .banner.home {
        height: 80%;
    }
    .main.home {
        top: 80%;
    }
    .curve {
        display: none;
    }
    input[type="submit"], button {
        width: fit-content;
    }
    .mySlides:hover .img {
        transform: scale(1.1);
    }
}